.transparent-bar{
  background-color: rgba(255, 0, 0, 1);
  position: fixed;
  right: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2%;
  min-width: 10px;
  z-index: 9998
}

.mobile-footer{
  z-index: 9998;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.mobile-header{
}

.nav ul li a {
color:#fff;}
.nav ul li a:hover {
color:#efefef;}

.mobile-header ul li a {
color:#fff;}
.mobile-header ul li a:hover {
color:#efefef;}
