.card{
    margin-bottom: 15px;
    margin-left: 4px;
    margin-right: 4px;
}

.no-margin{
    margin: 0px;
    padding: 0px;
}
.card-block{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.card-header{
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.selection1{
    /*background-color: rgba(245,85,54,0.6);*/
    background-color: rgba(242,222,222,1);
    color: rgb(169,68,66);
}

.selection2{
    /*background-color: rgba(32,164,243,0.6);*/
    background-color: rgba(217,237,247,1);
    color: rgb(49,112,143);
}

.racket-img{
    max-height:85px;   
}
