<div class="floating white-text container text-center">
  <h4>Pricing</h4>
</div>

<div class="container text-center">
  <div class=" content2 white-bg">
    <p class="text-muted">
      Tennishots number crunching and video processing features require a sizeable amount of resources, and altough we would love it, we cannot offer the service for free.
    </p>
    <p class="lead">
      Every new user can take advantage of a <b><strong>7 day free trial</strong></b>.
    </p>
    <p class="lead">
      Test all the features Tennishots has to offer and decide for yourself if you like the service <span class="small">(spoiler alert: you will)</span>.
      No credit card information is required!
    </p>
  </div>
</div>
<div class="container text-center">
  <div class=" content2 white-bg">
    <p>
      We only ask for <strong>$1 every 1000 shots</strong> imported. We found that on average it corresponds to about $0.50 every hour of play.
    </p>
    <p>
      Video processing and storage is very expensive, and we ask for an additional <strong>$2 every 1000 shots with video</strong> imported.
    </p>
  </div>
</div>
