<div class="container floating">
  <div class="row">
    <div class="col-12" style="display:flex;">
      <div class="mr-auto">
        <img [src]="userChoices[activeUser]?.avatar" class="rounded" height="37px" >
        <select id="userpicker" [ngModel]="activeUser" (ngModelChange)="onUserChange($event)" class="custom-select">
              <option *ngFor="let user of userChoices|loopobject" [value]="user.username">{{user.first_name}} {{user.last_name}}</option>
        </select><!--<span class="text-muted">({{userChoices[activeUser].username}})</span>-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="!emptyPlayer" class="container">
  <div class="row">

    <div class="col-12">
      <div class="white-bg content2 text-center dashboard-card">
        <p  class="lead">
          <span *ngFor="let stroke of SONY_STROKES_CHOICES|loopobject">
            <span class="badge" [ngStyle]="{'background-color': stroke.bgColor}">
              {{stroke.label}}
            </span>
          </span>
        </p>
      </div>
    </div>

    <div class="col-6">
      <div class="white-bg content2 text-center dashboard-card">
        <h6>This week</h6>
        <h6 class="text-muted">{{count_week}} shots</h6>
        <div class="row">
          <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <canvas #weekPie baseChart
                [datasets]="weekPieData.datasets"
                [labels]="weekPieData.labels"
                [colors]="weekPieData.datasets"
                [chartType]="'doughnut'"
                [legend]="false"
                [options]="pieOptions">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="white-bg content2 text-center dashboard-card">
        <h6>Overall</h6>
        <h6 class="text-muted">{{count_overall}} shots</h6>
        <div class="row">
          <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <canvas #overallPie baseChart
                [datasets]="overallPieData.datasets"
                [labels]="overallPieData.labels"
                [colors]="overallPieData.datasets"
                [chartType]="'doughnut'"
                [legend]="false"
                [options]="pieOptions">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="white-bg content2 text-center dashboard-card">
        <canvas baseChart height="150"
                  [datasets]="chartData.datasets"
                  [labels]="chartData.labels"
                  [options]="chartOptions"
                  [colors]="chartColors"
                  [legend]="chartLegend"
                  [chartType]="chartType">
          </canvas>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="white-bg content2 text-center dashboard-card">
        <h5>Forehand</h5>
        <div class="row">
          <div class="col-4">
            <h6>This week</h6>
            <hr>
          </div>
          <div class="col-4 offset-4">
            <h6>Overall</h6>
            <hr>
          </div>
          <div class="col">
            <p [innerHtml]="getPercentile('FH','week',0)"></p>
            <p [innerHtml]="getPercentile('FH','week',1)"></p>
            <p [innerHtml]="getPercentile('FH','week',2)"></p>
            <p [innerHtml]="getPercentile('FH','week',3)"></p>
          </div>
          <div class="col">
            <p class="text-muted"><strong>Median</strong></p>
            <p class="text-muted"><strong>Top 25%</strong></p>
            <p class="text-muted"><strong>Top 10%</strong></p>
            <p class="text-muted"><strong>Fastest</strong></p>
          </div>
          <div class="col">
            <p [innerHtml]="getPercentile('FH','overall',0)"></p>
            <p [innerHtml]="getPercentile('FH','overall',1)"></p>
            <p [innerHtml]="getPercentile('FH','overall',2)"></p>
            <p [innerHtml]="getPercentile('FH','overall',3)"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="white-bg content2 text-center dashboard-card">
        <h5>Backhand</h5>
        <div class="row">
          <div class="col-4">
            <h6>This week</h6>
            <hr>
          </div>
          <div class="col-4 offset-4">
            <h6>Overall</h6>
            <hr>
          </div>
          <div class="col">
            <p [innerHtml]="getPercentile('BH','week',0)"></p>
            <p [innerHtml]="getPercentile('BH','week',1)"></p>
            <p [innerHtml]="getPercentile('BH','week',2)"></p>
            <p [innerHtml]="getPercentile('BH','week',3)"></p>
          </div>
          <div class="col">
            <p class="text-muted"><strong>Median</strong></p>
            <p class="text-muted"><strong>Top 25%</strong></p>
            <p class="text-muted"><strong>Top 10%</strong></p>
            <p class="text-muted"><strong>Fastest</strong></p>
          </div>
          <div class="col">
            <p [innerHtml]="getPercentile('BH','overall',0)"></p>
            <p [innerHtml]="getPercentile('BH','overall',1)"></p>
            <p [innerHtml]="getPercentile('BH','overall',2)"></p>
            <p [innerHtml]="getPercentile('BH','overall',3)"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="white-bg content2 text-center dashboard-card">
        <h5>Serve</h5>
        <div class="row">
          <div class="col-4">
            <h6>This week</h6>
            <hr>
          </div>
          <div class="col-4 offset-4">
            <h6>Overall</h6>
            <hr>
          </div>
          <div class="col">
            <p [innerHtml]="getPercentile('SE','week',0)"></p>
            <p [innerHtml]="getPercentile('SE','week',1)"></p>
            <p [innerHtml]="getPercentile('SE','week',2)"></p>
            <p [innerHtml]="getPercentile('SE','week',3)"></p>
          </div>
          <div class="col">
            <p class="text-muted"><strong>Median</strong></p>
            <p class="text-muted"><strong>Top 25%</strong></p>
            <p class="text-muted"><strong>Top 10%</strong></p>
            <p class="text-muted"><strong>Fastest</strong></p>
          </div>
          <div class="col">
            <p [innerHtml]="getPercentile('SE','overall',0)"></p>
            <p [innerHtml]="getPercentile('SE','overall',1)"></p>
            <p [innerHtml]="getPercentile('SE','overall',2)"></p>
            <p [innerHtml]="getPercentile('SE','overall',3)"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="white-bg content2 text-center dashboard-card">
        <h5>Opponents</h5>
        <div *ngIf="opponentPieData.labels.length == 0">
          <p class="text-muted">
            You haven't tagged any of your sessions with a tag from this category.
          </p>
          <p>
            <button class="btn btn-secondary btn-sm btn-block" [routerLink]="['/tags']">Tag your sessions now</button>
          </p>
        </div>
        <div *ngIf="opponentPieData.labels.length > 0" class="row">
          <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <canvas baseChart
                [datasets]="opponentPieData.datasets"
                [labels]="opponentPieData.labels"
                [chartType]="'doughnut'"
                [legend]="false"
                [options]="pieOptions">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="white-bg content2 text-center dashboard-card">
        <h5>Game type</h5>
        <div *ngIf="gamePieData.labels.length == 0">
          <p class="text-muted">
            You haven't tagged any of your sessions with a tag from this category.
          </p>
          <p>
            <button class="btn btn-secondary btn-sm btn-block" [routerLink]="['/tags']">Tag your sessions now</button>
          </p>
        </div>
        <div *ngIf="gamePieData.labels.length > 0" class="row">
          <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <canvas baseChart
                [datasets]="gamePieData.datasets"
                [labels]="gamePieData.labels"
                [chartType]="'doughnut'"
                [legend]="false"
                [options]="pieOptions">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="white-bg content2 text-center dashboard-card">
        <h5>Competition</h5>
        <div *ngIf="competitionPieData.labels.length == 0">
          <p class="text-muted">
            You haven't tagged any of your sessions with a tag from this category.
          </p>
          <p>
            <button class="btn btn-secondary btn-sm btn-block" [routerLink]="['/tags']">Tag your sessions now</button>
          </p>
        </div>
        <div *ngIf="competitionPieData.labels.length > 0" class="row">
          <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <canvas baseChart
                [datasets]="competitionPieData.datasets"
                [labels]="competitionPieData.labels"
                [chartType]="'doughnut'"
                [legend]="false"
                [options]="pieOptions">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="white-bg content2 text-center dashboard-card">
        <h5>Surface</h5>
        <div *ngIf="surfacePieData.labels.length == 0">
          <p class="text-muted">
            You haven't tagged any of your sessions with a tag from this category.
          </p>
          <p>
            <button class="btn btn-secondary btn-sm btn-block" [routerLink]="['/tags']">Tag your sessions now</button>
          </p>
        </div>
        <div *ngIf="surfacePieData.labels.length > 0" class="row">
          <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <canvas baseChart
                [datasets]="surfacePieData.datasets"
                [labels]="surfacePieData.labels"
                [chartType]="'doughnut'"
                [legend]="false"
                [options]="pieOptions">
            </canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div *ngIf="emptyPlayer" class="container">
  <div class="white-bg content2 text-center">
    <p class="text-muted">
      The selected player hasn't imported any data into Tennishots yet, so there is nothing to show here.
    </p>
  </div>
</div>
