<div class="main-wrapper">
  <topbar [menuState]="menuState"></topbar>
  <div class="content-wrapper">
    <div class="my-top-placeholder"></div>
    <div class="my-top-placeholder hidden-md-up"></div>
    <router-outlet (deactivate)="onDeactivate()"></router-outlet>
  </div>
  <app-footer></app-footer>
  <div class="my-bottom-placeholder hidden-md-up"></div>
</div>

<!--<div (swiperight)="openSidebar()" class="transparent-bar"></div>
<app-sidebar *ngIf="loggedIn()" (swipeleft)="closeSidebar()" (click)="toggleSidebar()" [@slideInOut]="menuState[0]"></app-sidebar>-->
