<div class="clay-top">
  <div class="my-top container semi-bg">
    <h2>Welcome</h2>
  </div>
</div>

<div class="container white-bg">
  <div class="content">
    <div class="card my-card text-center">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <p>
              <img [src]="'//localhost:8000'+getProfile()?.avatar" style="max-height:175px;" class="img-thumbnail img-fluid" alt="Profile Pic">
            </p>
          </div>
          <div class="col-sm-8">
            <h3 class="card-title"><strong>{{getProfile()?.first_name}} {{getProfile()?.last_name}}</strong></h3>
            <p>
            <a role="button" class="btn btn-sm btn-secondary" [routerLink]="['profile']">Edit Profile</a>
            <a role="button" class="btn btn-sm btn-secondary">Due</a>
            <a role="button" class="btn btn-sm btn-secondary" [routerLink]="['import']">Import Shot Data</a>
            <a role="button" class="btn btn-sm btn-secondary" [routerLink]="['friends']">Friends</a>
            <a role="button" class="btn btn-sm btn-secondary" [routerLink]="['tags']">Tags</a>
            </p>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-md-4">
            <h3><strong></strong></h3>
            <p class="lead">Total Shots</p>
            <div class="btn-group">
              <a class="btn btn-secondary" [routerLink]="['analyze']" role="button">Details</a>
              <a class="btn btn-secondary" [routerLink]="['progress']" role="button">Progress</a>
            </div>
            <div class="hidden-md-up">
              <hr>
            </div>
          </div>
          <div class="col-md-4">
            <h3><strong></strong></h3>
            <p class="lead">Shots with video</p>
            <div class="btn-group">
              <a class="btn btn-secondary" [routerLink]="['']" role="button">View</a>
              <a class="btn btn-secondary" [routerLink]="['']" role="button">Upload</a>
            </div>
            <div class="hidden-md-up">
              <hr>
            </div>
          </div>
          <div class="col-md-4">
            <h3><strong></strong></h3>
            <p class="lead">Video Collections</p>
            <div class="btn-group">
              <a class="btn btn-secondary" [routerLink]="['']" role="button">View</a>
              <a class="btn btn-secondary" [routerLink]="['']" role="button">Create</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The recent activity -->
    <br>
    <h4 class="text-center">Recent Activity</h4>
    <hr>
    <div *ngFor="let session of recentActivity; let i=index" class="row">
      <div class="col-12 recent-col" role="button" (click)="onSessionExpand(i)">
        <div style="width:75px;">
          <img [src]="session.player.avatar" class="rounded" height="50px" >
        </div>
        <div class="mr-auto">
          {{session.player.first_name}} <span class="text-muted small">({{session.player.user}})</span> played on {{session.timestamp|date:'MMM d'}} <br>
           <span class="text-muted small">
             {{session.shot_count}} shots <span *ngIf="session.video_count > 0">and {{session.video_count}} video</span> in this session.
             <span *ngFor="let tag of session.labels" [innerHTML]="getFormattedTag(tag.name, tag.category)+' '"></span>
           </span>
        </div>
        <!--
        <div style="width:150px;">
          <p>
          <span *ngFor="let tag of session.labels" class="small" [innerHTML]="getFormattedTag(tag.name, tag.category)+' '"></span>
        </p>
          <button class="btn btn-secondary btn-sm" [class.active]="sessionsExpand[i]">View</button>
        </div>
        -->
      </div>
      <div class="col-12">
        <hr>
      </div>
      <!-- The Session Stats -->
      <div class="col-12" *ngIf="sessionsExpand[i]">
        <display [stats1]="sessionsStats[i]" [stats2]="emptyResponse" [compare]="false"></display>
        <hr>
      </div>
    </div>
  </div>
</div>

<!--<display [stats1]="getSessionStats(ales, 109)" [stats2]="emptyResponse" [compare]="false"></display>-->
