<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card my-card text-center">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-4">
              <p>
                <img [src]="'//localhost:8000'+getProfile().avatar" style="max-height:175px;" class="img-thumbnail img-fluid" alt="Profile Pic">
              </p>
            </div>
            <div class="col-sm-8">
              <h3 class="card-title"><strong>{{getProfile().first_name}} {{getProfile().last_name}}</strong></h3>
              <div class="btn-group" role="group" aria-label="Profile actions">
                <a role="button" class="btn btn-secondary" [routerLink]="['profile']">Edit Profile</a>
                <a role="button" class="btn btn-secondary">Due</a>
              </div>
              <a role="button" class="btn btn-danger" [routerLink]="['import']">Import Shot Data</a>
            </div>
          </div>
        </div>
        <div class="card-block">
          <hr>
          <div class="row">
            <div class="col-md-4">
              <h3><strong></strong></h3>
              <p class="lead">Total Shots</p>
              <div class="btn-group">
                <a class="btn btn-secondary" [routerLink]="['analyze']" role="button">Details</a>
                <a class="btn btn-secondary" [routerLink]="['']" role="button">Progress</a>
              </div>
              <div class="hidden-md-up">
                <hr>
              </div>
            </div>
            <div class="col-md-4">
              <h3><strong></strong></h3>
              <p class="lead">Shots with video</p>
              <div class="btn-group">
                <a class="btn btn-secondary" [routerLink]="['']" role="button">View</a>
                <a class="btn btn-secondary" [routerLink]="['']" role="button">Upload</a>
              </div>
              <div class="hidden-md-up">
                <hr>
              </div>
            </div>
            <div class="col-md-4">
              <h3><strong></strong></h3>
              <p class="lead">Video Collections</p>
              <div class="btn-group">
                <a class="btn btn-secondary" [routerLink]="['']" role="button">View</a>
                <a class="btn btn-secondary" [routerLink]="['']" role="button">Create</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The recent activity -->
      <br>
      <h4 class="text-center">Recent Activity</h4>

      <table  class="table">
        <tbody>
          <tr *ngIf="recentActivity?.length < 1">
            <td class="text-center">
              There is no recent activity from you or your friends yet.
            </td>
          </tr>
        </tbody>
          <!-- The Session Info -->
          <tbody *ngFor="let session of recentActivity; let i=index">
          <tr (click)="onSessionExpand(i)">
            <td width="50px">
              <img [src]="session.player.avatar" class="rounded" height="50px" >
            </td>
            <td>
              {{session.player.first_name}} <span class="text-muted small">({{session.player.user}})</span> played on {{session.timestamp|date}} <br>
               <span class="text-muted small">{{session.shot_count}} shots <span *ngIf="session.video_count > 0">and {{session.video_count}} video</span> in this session.</span>
            </td>
            <td class=text-right>
              <button class="btn btn-secondary btn-sm" [class.active]="sessionsExpand[i]">View</button>
            </td>
          </tr>
          <!-- The Session Stats -->
          <tr *ngIf="sessionsExpand[i]">
            <td colspan="3">
            <display [stats1]="sessionsStats[i]" [stats2]="emptyResponse" [compare]="false"></display>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<display [stats1]="getSessionStats(ales, 109)" [stats2]="emptyResponse" [compare]="false"></display>-->
