<div class="row">
  <div class="col-6">
    <p>
      <a class="btn btn-sm btn-secondary" role="button"(click)="onSelectAll(true)">Select all</a>
    </p>
  </div>
  <div class="col-6">
    <p>
      <a class="btn btn-sm btn-secondary" role="button"(click)="onSelectAll(false)">Select none</a>
    </p>
  </div>
</div>

<div class="row no-gutters">
  <div *ngFor="let period of periodsSubset" class="col-6 col-sm-4 col-md-3">
    <div class="card text-center" [class.card-inverse]="isInPks(period.pk)" [class.card-primary]="isInPks(period.pk)">
      <div class="card-block" [class.card-block-session]="PeriodsPicker?.name=='session'" role="button" (click)="addPkToPks(period.pk)">
        <span class="small"><strong>{{period.timestamp|date}}</strong></span><br>
        <strong>{{period.shot_count}}</strong>&nbsp;<span class="small">shots</span>
      </div>
      <div *ngIf="period?.labels" class="dropdown">
        <span class="badge badge-default dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{period.labels.length}}&nbsp;tags
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <p>
            <a *ngFor="let tag of period.labels">
              <span [innerHTML]="getFormattedTag(tag.name, tag.category)"></span>
            </a>
          </p>
          <div *ngIf="activePeriod=='session' && period.labels.length > 0" class="dropdown-divider"></div>
          <a [routerLink]="['','tags']" role="button" class="dropdown-item">
            <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;
            <span>Edit tags</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="doPagination" class=col-12>
    <ngb-pagination [disabled]="!doPagination" [collectionSize]="nPeriods" [pageSize]="periodsPerPage" [(page)]="currPage" (pageChange)="onPageChange()" size="sm"></ngb-pagination>
  </div>
</div>
