<div class="row no-gutters">
  <div *ngFor="let period of periodsSubset" class="col-6 col-sm-4 col-md-3">
    <div class="card text-center" role="button" (click)="addPkToPks(period.pk)" [class.card-inverse]="isInPks(period.pk)" [class.card-primary]="isInPks(period.pk)">
      <div class="card-block">
        <h6 class="card-title"><strong>{{period.timestamp|date}}</strong></h6>
        <p class="card-text">
          <strong>{{period.shot_count}}</strong> shots
        </p>
        <div class="labels-spacer row no-gutters">
          <div *ngFor="let label of period.labels" class="col-4">
            <span class="badge badge-default">{{label.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="doPagination" class=col-12>
    <ngb-pagination [disabled]="!doPagination" [collectionSize]="nPeriods" [pageSize]="periodsPerPage" [(page)]="currPage" (pageChange)="onPageChange()" size="sm"></ngb-pagination>
  </div>
</div>
