<div class="my-top">
  <div class="container">
    <h2>Manage Tags</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h4 class="text-center">Tags</h4>
      <hr>
      <div class="row text-center">
        <div *ngFor="let tag of tagList" class="col-3 col-md-2">
          <h5><span class="badge badge-default">{{tag.name}}&nbsp;&nbsp;<i role="button" class="fa fa-times" aria-hidden="true"></i></span></h5>
          <br>
        </div>
        <div class="col-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Create new tag...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Create</button>
            </span>
          </div>
        </div>
    </div>
    <h4 class="text-center">Tag your sessions</h4>
    <hr>
    <div class="row">
      <div *ngFor="let period of periodsSubset" class="col-6 col-md-4 col-lg-3">
        <div class="card text-center" role="button" (click)="onPeriodSelect(period.pk)" [class.card-inverse]="period.pk==activePk" [class.card-primary]="period.pk==activePk">
          <div class="card-block">
            <h6 class="card-title"><strong>{{period.timestamp|date}}</strong></h6>
            <p class="card-text">
              <strong>{{period.shot_count}}</strong> shots
            </p>
            <span class="badge badge-default">{{period.labels.length}} tags</span>
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="doPagination"  class="col-12">
        <ngb-pagination [disabled]="!doPagination" [collectionSize]="nPeriods" [pageSize]="periodsPerPage" [(page)]="currPage" (pageChange)="onPageChange()" size="sm"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
