<div class="my-top2">
  <p class="lead text-center white-text">Password reset</p>
</div>

<div class="container text-center">
  <div class="white-bg content">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form [formGroup]="resetForm" novalidate (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="password1" class="col-3 col-form-label">New password:&nbsp;</label>
            <div class="col-9">
              <input class="required form-control" type="password" id="password1" formControlName="new_password1">
            </div>
            <div class="form-control-feedback"></div>
          </div>
          <div class="form-group row">
            <label for="password2" class="col-3 col-form-label">Confirm password:&nbsp;</label>
            <div class="col-9">
              <input class="required form-control" type="password" id="password2" formControlName="new_password2">
              <div class="form-control-feedback"><span class="text-danger">{{passwordError}}</span></div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-9 offset-3">
              <input class="btn btn-primary btn-block" [disabled]="!resetForm.valid" type="submit" value="Change password" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
