<div class="my-top">
  <div class="container">
    <h2>Manage Friends</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h4 class="text-center">Friend Requests</h4>
      <table  class="table">
        <tbody>
          <tr>
            <td *ngIf="friendRequests.length < 1" class="text-center text-muted">
              You're all caught up, there are no pending friend requests.
            </td>
          </tr>
          <tr *ngFor="let request of friendRequests">
            <td width="50px">
              <img [src]="'//localhost:8000'+request.from_avatar" class="rounded" height="50px" >
            </td>
            <td>
              {{request.from_first_name}} {{request.from_last_name}} <span class="text-muted small">({{request.from_user}})</span><br>
               <span class="text-muted small">{{request.from_email}}</span>
            </td>
            <td class=text-right>
              <button (click)="respondRequest(request.from_user,'accept')" class="btn btn-primary btn-sm">Accept</button>
              <button (click)="respondRequest(request.from_user,'refuse')" class="btn btn-secondary btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>


      <h4 *ngIf="friends.length > 0" class="text-center">Friends</h4>
      <table *ngIf="friends.length > 0" class="table">
        <tbody>
          <tr *ngFor="let friend of friends" role="button" (click)="onFriendClick(friend.user)">
            <td width="50px">
              <img [src]="'//localhost:8000'+friend.avatar" class="rounded" height="50px" >
            </td>
            <td>
              {{friend.first_name}} {{friend.last_name}} <span class="text-muted small">({{friend.user}})</span><br>
               <span class="text-muted small">{{friend.email}}</span>
            </td>
            <td class=text-right>
              <button class="btn btn-secondary btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <br>

      <h4 class="text-center">Add Friends</h4>
      <table class="table">
        <tbody>
          <tr>
            <td colspan="3">
              <input [(ngModel)]="search" (ngModelChange)="searchUser(search)" type="text" class="form-control" placeholder="Search by name, username, or email address...">
            </td>
          <tr>
          <tr *ngFor="let user of users">
            <td width="50px">
              <img [src]="'//localhost:8000'+user.avatar" class="rounded" height="50px" >
            </td>
            <td>
                {{user.first_name}} {{user.last_name}} <span class="text-muted small">({{user.user}})</span><br>
                 <span class="text-muted small">{{user.email}}</span>
            </td>
            <td class=text-right>
              <button (click)="addFriend(user.user)" class="btn btn-primary btn-sm">Add</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
