<div class="floating white-text container text-center">
  <h4>Contact</h4>
</div>

<div class="container">
  <div class="content2 white-bg">
    <h4>Payments</h4>
    <p>
      If anything goes wrong while processing your order, please contact us as soon as possible at <a href="mailto:sales@tennishots.com?Subject=Payment%20issue" target="_top">sales@tennishots.com</a>.
    </p>

    <h4>Bugs</h4>
    <p>
      If you encounter any problem while browsing Tennishots, we'd really appreciate it if you reported it to <a href="mailto:bugs@tennishots.com?Subject=Reporting%20a%20bug" target="_top">bugs@tennishots.com</a>.
    </p>

    <h4>Suggestions</h4>
    <p>
      If you would like to see a new feature in Tennishots feel free to shoot an email to <a href="mailto:admin@tennishots.com?Subject=Feature%20request" target="_top">admin@tennishots.com</a>, we might just find it a great idea and actually make it happen.
    </p>

    <h4>Everything else</h4>
    <p>
      If you just feel like getting in touch with us, you're welcome to write to <a href="mailto:admin@tennishots.com" target="_top">admin@tennishots.com</a>.
    </p>
  </div>
</div>
