<div class="floating white-text container text-center">
  <h4>About</h4>
</div>

<div class="container">
  <div class="content2 white-bg">
    <h5>Who we are</h5>
    <p>
      Tennishots has been ideated, designed, and developed out of passion by <strong><b>Alessandro Genova</b></strong>.
    </p>
    <p>
      Alessandro is a <a href="https://en.wikipedia.org/wiki/Quantum_chemistry" target="_blank">quantum chemist</a> by training, and has an obsession for tennis.
    </p>
    <p>
      Thanks to <a href="http://www.lionardoimages.com/" target="_blank">Pierluigi Villa</a> for patiently testing Tennishots when bugs were everywhere.
    </p>
    <p class="small text-muted">
      Necessary disclaimer here: I have no affiliation to Sony or any other company producing tennis sensors.
    </p>
  </div>
</div>
<div class="container">
  <div class="content2 white-bg">
    <h5>Opensource Software</h5>
    <p>
      Tennishots would not have been possible without many amazing opensource tools. The great people behind them deserve a lot of credit and our gratitude.
    </p>
      <ul class="list-inline">
        <li class="list-inline-item"> <a href="http://www.python.org" target="_blank">Python</a></li>
        <li class="list-inline-item"> <a href="http://www.djangoproject.com" target="_blank">Django</a></li>
        <li class="list-inline-item"> <a href="http://www.numpy.org/" target="_blank">Numpy</a></li>
        <li class="list-inline-item"> <a href="http://matplotlib.org/" target="_blank">Matplotlip</a></li>
        <li class="list-inline-item"> <a href="http://angular.io/" target="_blank">Angular2</a></li>
        <li class="list-inline-item"> <a href="http://valor-software.com/ng2-charts/" target="_blank">ng2-charts</a></li>
        <li class="list-inline-item"> <a href="http://www.chartjs.org/" target="_blank">Chart.js</a></li>
        <li class="list-inline-item"> <a href="https://kdenlive.org/" target="_blank">kdenlive</a></li>
        <li class="list-inline-item"> <a href="http://zulko.github.io/moviepy/" target="_blank">Moviepy</a></li>
        <li class="list-inline-item"> <a href="http://ffmpeg.org/" target="_blank">FFmpeg</a></li>
        <li class="list-inline-item"> <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
        <li class="list-inline-item"> <a href="http://www.celeryproject.org/" target="_blank">Celery</a></li>
      </ul>
  </div>
</div>
