<div class="hard-top">
  <div class="my-top container semi-bg">
    <h2>Video recordings</h2>
  </div>
</div>

<div class="container white-bg">
  <div class="content">
    <div class="row">
      <div class="col">
        <img [src]="'//localhost:8000'+userChoices[activeUser].avatar" class="rounded" height="37px" >
        <select (click)="onUserSelectClick()" id="userpicker" [(ngModel)]="activeUser" class="custom-select">
              <option *ngFor="let key of userChoices_keys" [value]="userChoices[key].username">{{userChoices[key].first_name}} {{userChoices[key].last_name}}</option>
        </select><!--<span class="text-muted">({{userChoices[activeUser].username}})</span>-->
      </div>
      <div class="col">
        Advanced mode: <button [routerLink]="['']" class="btn btn-secondary">Off</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <p class="lead">
        <span *ngFor="let tag of tagList">
          <span [ngClass]="['badge', getTagClass(tag.category)]" (click)="addPkToPks(tag.pk)" role="button">
            <i [ngClass]="['fa', getCheckClass(tag.pk)]" aria-hidden="true"></i>&nbsp;&nbsp;{{tag.name}}
          </span>
        </span>
      </p>
      <div *ngIf="periodsSubset?.length == 0" class="col-12">
        No matching sessions
      </div>
      <div *ngFor="let period of periodsSubset" class="col-6 col-sm-3">
        <div class="card text-center" [class.card-inverse]="period.pk==activeSession?.pk" [class.card-primary]="period.pk==activeSession?.pk">
          <div class="card-block card-block-session" role="button" (click)="onSessionSelect(period)">
            <h6 class="card-title">{{period.timestamp|date}}</h6>
            <strong>{{period.video_count}}</strong>&nbsp;<span class="small">video</span>
          </div>
          <div class="dropdown">
            <span class="badge badge-default dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{period.labels.length}}&nbsp;tags
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <p>
                <a *ngFor="let tag of period.labels">
                  <span [innerHTML]="getFormattedTag(tag.name, tag.category)"></span>
                </a>
              </p>
              <div *ngIf="period.labels.length > 0" class="dropdown-divider"></div>
              <a [routerLink]="['','tags']" role="button" class="dropdown-item">
                <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;
                <span>Edit tags</span>
              </a>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="doSessionPagination"  class="col-12">
        <ngb-pagination [disabled]="!doSessionPagination" [collectionSize]="nPeriods" [pageSize]="periodsPerPage" [(page)]="currPageSession" (pageChange)="onSessionPageChange()" size="sm"></ngb-pagination>
      </div>
    </div>
    <hr>
    <!-- Video list -->
    <div class="row">
      <div *ngFor="let video of videoSubset" class="col-6 col-sm-3">
        <div class="card card-inverse text-center" [class.card-primary]="video.pk==activeVideoPk" (click)="onVideoSelect(video)" role="button">
            <img *ngIf="video.thumbnail && video.pk!=activeVideoPk" class="card-img" src="{{video.thumbnail}}" height="100px" alt="Video thumbnail">
            <img *ngIf="video.pk!=activeVideoPk" class="card-img" height="100px" style="background-color:#61707d;">
            <img *ngIf="video.pk==activeVideoPk" class="card-img" height="100px" style="background-color:rgba(255,255,255,0);">
          <div class="card-img-overlay">
            <h6 class="card-title">
              {{video.timestamp+timezoneString|date:'shortTime'}}
            </h6>
            <p *ngIf="video.status == 'U'" class="card-text"><span class="badge badge-danger">Upload</span></p>
            <p *ngIf="video.status == 'P'" class="card-text"><span class="badge badge-info">Processing</span></p>
            <p *ngIf="video.status == 'F'" class="card-text"><span class="badge badge-warning">Failed</span></p>
            <p *ngIf="video.status == 'C'" class="card-text"><span class="badge badge-success">{{video.shot_count}} shots</span></p>
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="doVideoPagination"  class="col-12">
        <ngb-pagination [disabled]="!doVideoPagination" [collectionSize]="nVideos" [pageSize]="periodsPerPage" [(page)]="currPageVideo" (pageChange)="onVideoPageChange()" size="sm"></ngb-pagination>
      </div>
    </div>
    <hr>
    <!-- Upload video -->
    <div *ngIf="activeVideo?.status=='U'">
      <p-fileUpload name="videofile" [url]="uploadSourceUrl" (onSelect)="checkUploadFilename($event)" (onBeforeSend)="onBeforeSend($event)" accept="video/*" maxFileSize="3.5*1000*1000*1000">
        <template pTemplate="toolbar">
            <div>Upload <strong>{{activeVideo.filename}}</strong> to Tennistat</div>
        </template>
        <template pTemplate="content">
            <div><span style="color:red;">{{fileUploadError}}</span></div>
        </template>
      </p-fileUpload>
    </div>
  </div>
</div>
