<div class="my-top2">
</div>

<div class="container">
  <div class="white-bg content text-center">
    <div class="jumbotron">
      <h3>
        Thank you for joining Tennistat, we are excited to have you here!
      </h3>
      <p class="lead">
        Most of the features will be active once you import your shot history. Upload the CSV file you got from the sensor app to our website.
      </p>
      <p class="text-muted">
        If you don't know how access the CSV file on you phone, no problem, we have you covered. <a>Here is a short video</a> showing you how to do it step by step.
      </p>
      <p>
        <button class="btn btn-sm btn-danger btn-block" role="button" [routerLink]="['/import']">Upload your shots</button>
      </p>
    </div>
  </div>
  <div class="white-bg content text-center">
    <p>
      If you have friends that are already using Tennistat, you can search for them and send a friend request.
    </p>
    <p>
      <button class="btn btn-sm btn-secondary btn-block" role="button" [routerLink]="['/friends']">Search for friends</button>
    </p>
    <hr>
    <p class="lead">
      We hope you'll have fun getting great insight into your data through Tennistat!
    </p>
  </div>
</div>
