<div class="hard-purple-top">
  <div class="my-top container semi-bg">
    <h2>Welcome</h2>
  </div>
</div>

<div class="container white-bg">
  <div class="content">
    <p class="lead">
      Thank you for joining Tennistat, we are excited to have you here!
    </p>
    <p>
      There is not much you can do until you import your shot history. Upload the CSV file you got from the sensor app to our website.
    </p>
    <p>
      If you don't know how access the CSV file on you phone, no problem, we have you covered. <a>Here is a short video</a> showing you how to do it step by step.
    </p>
    <p>
      <button class="btn btn-primary btn-block" role="button">Upload your shots</button>
    </p>
    <p>
      Also, if you have some friends that are already using Tennistat, search for them here and send them a friend request.
    </p>
    <p>
      <button class="btn btn-primary btn-block" role="button">Upload your shots</button>
    </p>
    <p class="lead">
      We hope you'll have fun getting great insight into your data through Tennistat!
    </p>
  </div>
</div>
