<div class="container">
  <div class=" content2 white-bg text-center">
    <div class="jumbotron">
      <h3>
        Thank you for joining Tennishots, we are excited to have you here!
      </h3>
      <p class="lead">
        Most of the features will be active once you import your shot history.
      </p>
      <p class="text-muted">
        If you don't know how to export the shots from your phone, no problem, we have you covered.
      </p>
      <p class="text-muted">
        <a [routerLink]="['/tutorials']">Here is a short video</a> showing you how to do it step by step.
      </p>
        <button class="btn btn-sm btn-danger btn-block" role="button" [routerLink]="['/import']">Upload your shots</button>
    </div>
  </div>
</div>
<div class="container">
  <div class=" content2 white-bg text-center">
    <p>
      If you have friends that are already using Tennishots, you can search for them and send a friend request.
    </p>
    <p>
      <button class="btn btn-sm btn-secondary btn-block" role="button" [routerLink]="['/friends']">Search for friends</button>
    </p>
    <hr>
    <p class="lead">
      We hope you'll have fun getting great insight into your data through Tennishots!
    </p>
  </div>
</div>
