<div class="my-top">
  <div class="container">
    <h2>Activity Summary</h2>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col">
          <p>
          <select (click)="onUserSelectClick()" id="userpicker" [(ngModel)]="activeUser" class="custom-select">
                <option *ngFor="let key of userChoices_keys" [value]="userChoices[key].username">{{userChoices[key].first_name}} {{userChoices[key].last_name}}</option>
          </select> <span class="text-muted">({{userChoices[activeUser].username}})</span>
          </p>
        </div>
        <div class="col">
          Advanced mode: <button [routerLink]="['','analyze']" class="btn btn-secondary">Off</button>
        </div>
      </div>
      <p>
        <button class="btn" (click)="onPeriodChange('session')" [class.btn-primary]="activePeriod=='session'" [class.btn-secondary]="activePeriod!='session'">Sessions</button>
        <button class="btn" (click)="onPeriodChange('week')" [class.btn-primary]="activePeriod=='week'" [class.btn-secondary]="activePeriod!='week'">Weeks</button>
        <button class="btn" (click)="onPeriodChange('month')" [class.btn-primary]="activePeriod=='month'" [class.btn-secondary]="activePeriod!='month'">Months</button>
        <button class="btn" (click)="onPeriodChange('year')" [class.btn-primary]="activePeriod=='year'" [class.btn-secondary]="activePeriod!='year'">Years</button>
        <button class="btn" (click)="onPeriodChange('all')" [class.btn-primary]="activePeriod=='all'" [class.btn-secondary]="activePeriod!='all'">All</button>
      </p>
      <div class="row">
        <div *ngFor="let period of periodsSubset" class="col-6 col-sm-4 col-lg-2">
          <div class="card text-center" role="button" (click)="onPeriodSelect(period.pk)" [class.card-inverse]="period.pk==activePk" [class.card-primary]="period.pk==activePk">
            <div class="card-block">
              <h6 class="card-title"><strong>{{period.timestamp|date}}</strong></h6>
              <p class="card-text">
                <strong>{{period.shot_count}}</strong> shots
              </p>
              <div class="labels-spacer row no-gutters">
                <div *ngFor="let label of period.labels" class="col-4">
                  <span class="badge badge-default">{{label.name}}</span>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div *ngIf="doPagination"  class="col-12">
          <ngb-pagination [disabled]="!doPagination" [collectionSize]="nPeriods" [pageSize]="periodsPerPage" [(page)]="currPage" (pageChange)="onPageChange()" size="sm"></ngb-pagination>
        </div>
      </div>
      <hr>
      <!-- Display -->
      <display [stats1]="stats" [compare]="false"></display>
    </div>
  </div>
</div>
