<!--
<div class="white-top down-shadow-red">
  <div class="my-top ">
    <h2 class="text-muted">Activity summary</h2>
  </div>
</div>
-->
<div class="container floating flex-div">
  <div class="mr-auto">
    <img [src]="userChoices[activeUser]?.avatar" class="rounded" height="37px" >
    <select id="userpicker" [ngModel]="activeUser" (ngModelChange)="onUserChange($event)" class="custom-select">
          <option *ngFor="let user of userChoices|loopobject" [value]="user.username">{{user.first_name}} {{user.last_name}}</option>
    </select><!--<span class="text-muted">({{userChoices[activeUser].username}})</span>-->
  </div>
  <div>
    <button [routerLink]="['/advanced']" class="btn btn-secondary">Advanced mode</button>
  </div>
</div>
<div class="container">
  <div class=" content2 white-bg text-center">

    <!--<button class="btn btn-sm btn-block" (click)="onPeriodChange('session')" [class.btn-danger]="activePeriod=='session'" [class.btn-secondary]="activePeriod!='session'">Sessions</button>-->
    <div class="form-check  form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [checked]="activePeriod=='session'" (click)="onPeriodChange('session')">
        Sessions
      </label>
    </div>

    <!--<button class="btn btn-sm btn-block" (click)="onPeriodChange('week')" [class.btn-danger]="activePeriod=='week'" [class.btn-secondary]="activePeriod!='week'">Weeks</button>-->
    <div class="form-check  form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [checked]="activePeriod=='week'" (click)="onPeriodChange('week')">
        Weeks
      </label>
    </div>

    <!--<button class="btn btn-sm btn-block" (click)="onPeriodChange('month')" [class.btn-danger]="activePeriod=='month'" [class.btn-secondary]="activePeriod!='month'">Months</button>-->
    <div class="form-check  form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [checked]="activePeriod=='month'" (click)="onPeriodChange('month')">
        Months
      </label>
    </div>

    <!--<button class="btn btn-sm btn-block" (click)="onPeriodChange('year')" [class.btn-danger]="activePeriod=='year'" [class.btn-secondary]="activePeriod!='year'">Years</button>-->
    <div class="form-check  form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [checked]="activePeriod=='year'" (click)="onPeriodChange('year')">
        Years
      </label>
    </div>

    <!--<button class="btn btn-sm btn-block" (click)="onPeriodChange('all')" [class.btn-danger]="activePeriod=='all'" [class.btn-secondary]="activePeriod!='all'">All</button>-->
    <div class="form-check  form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [checked]="activePeriod=='all'" (click)="onPeriodChange('all')">
        All
      </label>
    </div>

    <div *ngIf="activePeriod=='session'" class="text-center">
      <br>
      <p  class="lead">
        <span *ngFor="let tag of tagList">
          <span [ngClass]="['badge', getTagClass(tag.category)]" (click)="addPkToPks(tag.pk)" role="button">
            <i [ngClass]="['fa', getCheckClass(tag.pk)]" aria-hidden="true"></i>&nbsp;&nbsp;{{tag.name}}
          </span>
        </span>
      </p>
    </div>
  </div>
</div>
<div *ngIf="activePeriod !='all'" class="container">
  <div class=" content2 white-bg text-center">
    <div class="row">
      <div *ngIf="periodsSubset?.length == 0" class="col-12">
        No matching sessions
      </div>
      <div *ngFor="let period of periodsSubset" class="col-6 col-sm-3">
        <div class="card text-center" [class.card-inverse]="period.pk==activePk" [class.card-primary]="period.pk==activePk">
          <div class="card-block" [class.card-block-session]="activePeriod=='session'" role="button" (click)="onPeriodSelect(period.pk)">
            <h6 class="card-title">{{period.timestamp|date}}</h6>
            <strong>{{period.shot_count}}</strong>&nbsp;<span class="small">shots</span>
          </div>
          <div *ngIf="activePeriod=='session'" class="dropdown">
            <span class="badge badge-default dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{period.labels.length}}&nbsp;tags
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <p>
                <a *ngFor="let tag of period.labels">
                  <span [innerHTML]="getFormattedTag(tag.name, tag.category)"></span>
                </a>
              </p>
              <div *ngIf="activePeriod=='session' && period.labels.length > 0" class="dropdown-divider"></div>
              <a [routerLink]="['','tags']" role="button" class="dropdown-item">
                <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;
                <span>Edit tags</span>
              </a>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="doPagination"  class="col-12">
        <ngb-pagination [disabled]="!doPagination" [collectionSize]="nPeriods" [pageSize]="periodsPerPage" [(page)]="currPage" (pageChange)="onPageChange()" size="sm"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
  <!-- Display -->
<div *ngIf="stats.count > 0" class="container">
  <div class=" content2 white-bg text-center">
    <display [stats1]="stats" [compare]="false"></display>
  </div>
</div>
