<div class="container">
  <select (click)="onUserSelectClick()" class="form-control form-control-sm" id="userpicker" [(ngModel)]="activeUser">
    <option *ngFor="let user of userChoices" [value]="user.username">{{user.first_name}}</option>
  </select>

  <div class="btn-group">
    <button class="btn btn-secondary" (click)="onPeriodChange('session')" [class.active]="activePeriod=='session'">Sessions</button>
    <button class="btn btn-secondary" (click)="onPeriodChange('week')" [class.active]="activePeriod=='week'">Weeks</button>
    <button class="btn btn-secondary" (click)="onPeriodChange('month')" [class.active]="activePeriod=='month'">Months</button>
    <button class="btn btn-secondary" (click)="onPeriodChange('year')" [class.active]="activePeriod=='year'">Years</button>
    <button class="btn btn-secondary" (click)="onPeriodChange('all')" [class.active]="activePeriod=='all'">All</button>
  </div>
  <hr>
  <div class="row">
    <div *ngFor="let period of periodsSubset" class="col-6 col-sm-4 col-lg-2">
      <div class="card text-center" role="button" (click)="onPeriodSelect(period.pk)" [class.card-inverse]="period.pk==activePk" [class.card-primary]="period.pk==activePk">
        <div class="card-block">
          <h6 class="card-title"><strong>{{period.timestamp|date}}</strong></h6>
          <p class="card-text">
            <strong>{{period.shot_count}}</strong> shots
          </p>
          <div class="labels-spacer row no-gutters">
            <div *ngFor="let label of period.labels" class="col-4">
              <span class="badge badge-default">{{label.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <!-- Display -->
  <display [stats1]="stats" [compare]="false"></display>

</div>
