<div class="container">
  <br>
  {{periodSelector}}
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="handlePeriodChange('sessions')">Sessions</button>
      <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="handlePeriodChange('weeks')">Weeks</button>
      <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="handlePeriodChange('months')">Months</button>
      <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="handlePeriodChange('years')">Years</button>
      <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="handlePeriodChange('date_range')">Date Range</button><hr>
      <button type="button" class="btn btn-primary btn-sm btn-block" [class.btn-danger]="advancedFilter" (click)="advancedFilter=!advancedFilter">More Filters</button>
    </div>
    <div *ngIf="periodSelector[0]" class="col-9">
      <periodlist [periods]="sessions" [periodsPicker]="filter.filters.periods"></periodlist>
    </div>
    <div *ngIf="periodSelector[1]" class="col-9">
      <periodlist [periods]="weeks" [periodsPicker]="filter.filters.periods"></periodlist>
    </div>
    <div *ngIf="periodSelector[2]" class="col-9">
      <periodlist [periods]="months" [periodsPicker]="filter.filters.periods"></periodlist>
    </div>
    <div *ngIf="periodSelector[3]" class="col-9">
      <periodlist [periods]="years" [periodsPicker]="filter.filters.periods"></periodlist>
    </div>
  </div>
  <hr>
  <div *ngIf="advancedFilter">
    <div class="row">
      <div class="col-4 text-center">
        <label>Swing Speed</label>
        <div class="row">
          <div class="offset-1 col-10">
            <nouislider [connect]="true" [min]="0" [max]="220" [step]="1" [tooltips]="[true,true]" [(ngModel)]="someRange"></nouislider>
          </div>
        </div>
      </div>
      <div class="col-4 text-center">
        <label>Ball Speed</label>
        <div class="row">
          <div class="offset-1 col-10">
            <nouislider [connect]="true" [min]="0" [max]="220" [step]="1" [tooltips]="[true,true]" [(ngModel)]="someRange"></nouislider>
          </div>
        </div>
      </div>
      <div class="col-4 text-center">
        <label>Ball Spin</label>
        <div class="row">
          <div class="offset-1 col-10">
            <nouislider [connect]="true" [min]="0" [max]="220" [step]="1" [tooltips]="[true,true]" [(ngModel)]="someRange"></nouislider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<nouislider [connect]="true" [min]="0" [max]="15" [step]="1" [(ngModel)]="speed_range" (ngModelChange)="onChange($event)"></nouislider>

<!--
<p-dropdown id="userpicker" [options]="users" [(ngModel)]="filter.username" [style]="{'width':'150px'}"></p-dropdown>
<hr>
<p-tabView orientation="left" (onChange)="handlePeriodChange($event)">
    <p-tabPanel header="Sessions">
        <p-listbox [options]="sessions" [(ngModel)]="this.filters.periods.pks"></p-listbox>
    </p-tabPanel>
    <p-tabPanel header="Weeks">
    </p-tabPanel>
    <p-tabPanel header="Months">
    </p-tabPanel>
    <p-tabPanel header="Years">
    </p-tabPanel>
    <p-tabPanel header="Date Range">
        <p-calendar [(ngModel)]="filter.filters.date_range.min"></p-calendar>
        <p-calendar [(ngModel)]="filter.filters.date_range.max"></p-calendar>
    </p-tabPanel>
</p-tabView>
-->
