<div class="orange-top" class="height-3r">
</div>
<div class="menu-container">
  <div class="list-container">
    <ul class="list-unstyled">
      <li>
        Analyze:
        <ul class="list-unstyled ul-second">
          <li>
            <a class="text-muted" [routerLink]="['summary']">Summary</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['analyze']">Advanced</a>
          </li>
        </ul>
      </li>
      <li>
        Progress:
        <ul class="list-unstyled ul-second">
          <li>
            <a class="text-muted" [routerLink]="['progress','session']">Daily</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['progress','week']">Weekly</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['progress','month']">Monthly</a>
          </li>
        </ul>
      </li>
      <li>
        Video:
        <ul class="list-unstyled ul-second">
          <li>
            <a class="text-muted" [routerLink]="['video']">Recordings</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['videocollection']">Collections</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <hr>
  <div class="list-container">
    <ul class="list-unstyled">
      <li>
        <a class="text-muted" [routerLink]="['profile']">Profile</a>
      </li>
      <li>
        <a class="text-muted" [routerLink]="['friends']">Friends</a>
      </li>
      <li>
        <a class="text-muted" [routerLink]="['tags']">Tags</a>
      </li>
      <li>
        <a class="text-muted" [routerLink]="['import']">Import Shots</a>
      </li>
    </ul>
  </div>
</div>
