<div class="hard-top">
  <div class="my-top container semi-bg">
    <h2>Video collections</h2>
  </div>
</div>

<div class="container white-bg">
  <div class="content text-center">
    <div class="row">
      <div class="col">
        <img [src]="'//localhost:8000'+userChoices[activeUser].avatar" class="rounded" height="37px" >
        <select (click)="onUserSelectClick()" id="userpicker" [(ngModel)]="activeUser" class="custom-select">
              <option *ngFor="let key of userChoices_keys" [value]="userChoices[key].username">{{userChoices[key].first_name}} {{userChoices[key].last_name}}</option>
        </select><!--<span class="text-muted">({{userChoices[activeUser].username}})</span>-->
      </div>
      <div class="col">
        <button [routerLink]="['','video']" class="btn btn-secondary" role="button">Go to video recordings</button>
      </div>
    </div>
    <hr>
    <div *ngIf="!doCreate">
      <p>
        <button class="btn btn-sm btn-danger btn-block" (click)="onCreateSwitch()" role="button">Create new video collection</button>
      </p>
      <div class="row">
        <div *ngIf="videoSubset?.length == 0" class="col-12">
          <p>
            You haven't created any video collection yet. Create your first now, it's fun!
          </p>
        </div>
        <div *ngFor="let video of videoSubset" class="col-6 col-sm-3">
          <div class="card card-inverse text-center" [class.card-primary]="video.pk==activeVideoPk" (click)="onVideoSelect(video)" role="button">
              <img *ngIf="video.thumbnail && video.pk!=activeVideoPk" class="card-img" src="{{video.thumbnail}}" height="100px" alt="Video thumbnail">
              <img *ngIf="!video.thumbnail && video.pk!=activeVideoPk" class="card-img" height="100px" style="background-color:#61707d;">
              <img *ngIf="video.pk==activeVideoPk" class="card-img" height="100px" style="background-color:rgba(255,255,255,0);">
            <div class="card-img-overlay">
              <h6 class="card-title">
                {{video.title}}
              </h6>
              <p *ngIf="video.status == 'U'" class="card-text"><span class="badge badge-danger">Upload</span></p>
              <p *ngIf="video.status == 'P'" class="card-text"><span class="badge badge-info">Processing</span></p>
              <p *ngIf="video.status == 'F'" class="card-text"><span class="badge badge-warning">Failed</span></p>
              <p *ngIf="video.status == 'C'" class="card-text"><span class="badge badge-success">{{video.shot_count}} shots</span></p>
            </div>
          </div>
          <br>
        </div>
        <div *ngIf="doVideoPagination"  class="col-12">
          <ngb-pagination [disabled]="!doVideoPagination" [collectionSize]="nVideos" [pageSize]="videosPerPage" [(page)]="currPageVideo" (pageChange)="onVideoPageChange()" size="sm"></ngb-pagination>
        </div>
      </div>
      <hr>
      <!-- Processing Message -->
      <div *ngIf="activeVideo?.status=='P'">
        <p>
          Your video collection is being processed, and will be ready soon(ish).
        </p>
      </div>
      <!-- Play Video -->
      <p *ngIf="activeVideo?.status=='C'">
        <video  width="100%" height='auto' controls>
          <source [src]="activeVideo.processed_file" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </p>
      <!-- Failed Message -->
      <div *ngIf="activeVideo?.status=='F'">
        <p>
          Well, this is embarassing! Something went wrong while processing your video. Click the button below to try again.
        </p>
        <p>
          <button class="btn btn-sm btn-warning" role="button" (click)="onRetry(activeVideo.pk)">Retry</button>
        </p>
      </div>
    </div>
    <div *ngIf="doCreate">
      <p>
        <button class="btn btn-sm btn-primary btn-block" (click)="doCreate=!doCreate" role="button">View your video collections</button>
      </p>
      <p>
        Apply filters to choose your best shots and create the perfect video collection.
      </p>
      <p>
        <sony-filter [filter]="filter" [listOfPeriods]="listOfPeriods" [tagList]="tagList" [expanded]="true" [videoOnly]="true"></sony-filter>
      </p>
      <p>
        <button class="btn btn-sm btn-danger btn-block" role="button" (click)="onFilter()">Filter</button>
      </p>
      <div  *ngIf="filterCount > 100" class="row">
        <div class="col-12">
          <div class="alert alert-danger text-center">
            <b><strong>{{filterCount}}</strong></b> video shots matched your filter criteria.<br>
            Due to limited resources, the maximum number of shots for each video collection is <strong>100</strong>.<br>
            Please apply more restrictive filters.
          </div>
        </div>
      </div>
      <div  *ngIf="filterCount > 0 && filterCount < 101" class="row">
        <div class="col-12">
          <div class="alert alert-info text-center">
            <b><strong>{{filterCount}}</strong></b> video shots matched your filter criteria.
          </div>
        </div>
        <div class="col-12">
          <form [formGroup]="videoCollectionForm" novalidate (ngSubmit)="onCreateVideo()">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Title" id="title" formControlName="title">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Description" id="description" formControlName="description"></textarea>
            </div>
            <input class="btn btn-primary btn-block" [disabled]="!videoCollectionForm.valid" type="submit" value="Create" />
          </form>
        </div>
      </div>
    </div>

    {{filter|json}}

    {{filterCount}}
  </div>
</div>
