<div class="my-top2">
  <h4 class="text-center white-text">Password reset</h4>
</div>

<div class="container text-center">
  <div class="white-bg content">
    <div class="row">
      <div *ngIf="!submitted" class="col-lg-8 offset-lg-2">
        <form [formGroup]="emailForm" novalidate (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="email" class="col-3 col-form-label">Email:&nbsp;</label>
            <div class="col-9">
              <input class="required form-control" type="email" id="email" formControlName="email">
              <div class="form-control-feedback"><span class="text-danger">{{errorError}}</span></div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-9 offset-3">
              <input class="btn btn-primary btn-block" [disabled]="!emailForm.valid" type="submit" value="Reset password" />
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="submitted" class="col-lg-8 offset-lg-2">
        <p class="lead">
          We have sent an email to the provided address with a link to reset your password (if it matches any of our users). Check your inbox!
        </p>
      </div>
    </div>
  </div>
</div>
