<div class="floating white-text container text-center">
  <h4>Tutorials</h4>
</div>

<div class="container">
  <div class="content2 white-bg">
    <div class="row text-center">
    <div class="col-md-6">
      <h4>See what Tennishots can do</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="promo_video"class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/mfhU6Y2vWd0?rel=0&amp;showinfo=0&origin=https://tennishots.com" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
    </div>

    <div id="android" class="col-md-6">
      <h4>Export data from Android</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="android_tutorial"class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/6krIdH1loj0?rel=0&amp;showinfo=0&origin=https://tennishots.com" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
    </div>

    <div class="col-md-6">
      <h4 id="iphone">Export data from iPhone</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="iphone_tutorial"class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/8fryMvyMX4E?rel=0&amp;showinfo=0&origin=https://tennishots.com" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
    </div>
  </div>
</div>
