/* You can add global styles to this file, and also import other style files */
/*
*/
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";

@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/nouislider/distribute/nouislider.css";

html {
  height: 100%;
}

body {
  height: 101%;
  background-color:#f0f0f0;
  /*background-color:#f7f7f9;
  background-image: url("/assets/img/clay.jpg");*/
}

.container {
    max-width: 60rem;
}

.main-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

.content{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-style: solid;
    border-color: #dedede;
    border-width: thin;
    border-radius: 4px;
    /*text-align: center;*/
}

.white-text{
    color: #ffffff;
}

.white-bg{
    background-color: #ffffff;
}

.semi-bg{
    background-color: rgba(255, 255, 255, 0.90);
}

.semisemi-bg{
    background-color: rgba(255, 255, 255, 0.2);
}

.footer {
    background-color:#f0f0f0;
}

.hard-top{
    background-image: url("/assets/img/hard.jpg");
}

.hard-purple-top{
    background-image: url("/assets/img/hard-purple.jpg");
}
.clay-lg-top{
    background-image: url("/assets/img/clay-lg.jpg");
    /*color:#ffffff;*/
}
.clay-top{
    background-image: url("/assets/img/clay.jpg");
    /*color:#ffffff;*/
}

.grass-top{
    background-image: url("/assets/img/grass.jpg");
    /*color:#ffffff;*/
}

.grass-bg{
    background-image: url("/assets/img/grass_faded.jpg");
}

.green-top{
    background-color: #98D9C2;
}

.red-top{
    background-color: #D62246;
}

.blue-top{
    background-color: #759fbc;
}

.purple-top{
    background-color: #A09EBB;
}

.orange-top{
    background-color: rgba(255,133,84,1);
}

.darkblue-top{
    background-color: #566681;
}

.white-top{
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: #dedede;
    border-width: thin;
}

.lightorange-top{
    background-color: #FFF3EF;
}

.down-border{
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-color: #dadada;
    border-width: thin;
}

.up-border{
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #dadada;
    border-width: thin;
}

.my-top{
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*background-image: url("/assets/img/clay.jpg");*/
    text-align: center;
    /*
    margin-bottom: 2rem;
    padding: 2rem 15px;
    background-color:#f7f7f9;
    */
}

.down-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.down-light-shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
