/* You can add global styles to this file, and also import other style files */
/*
*/
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";

@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/nouislider/distribute/nouislider.css";

html {
  height: 100%;
}

body {
  height: 101%;

  background-image: linear-gradient(to right, rgb(217, 83, 79) 100%, rgb(217, 83, 79) 0%);
  background-repeat: no-repeat;
  background-size: 100% 12.5rem;
  background-position: top;
  /*background-attachment: fixed;

  background-color:#f0f0f0;
  background-color:#f7f7f9;
  background-image: url("/assets/img/clay.jpg");*/
}

.container {
    max-width: 60rem;
}

.main-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

.content{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-style: solid;
    border-color: #dedede;
    border-width: thin;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*text-align: center;

    */
}

.content2{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    /*border-style: solid;
    border-color: #dedede;
    border-width: thin;
    border-radius: 3px;*/
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, 0.09);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    */
}

.content3{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, 0.09);
}

.content-header{
  margin-top: -1.1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.floating{
    min-height: 3.5rem;
    padding-top: 1rem;
    margin-bottom: -0.5rem;
}

.red-text{
    color: rgb(217, 83, 79);
}

.white-text{
    color: #ffffff;
}

.white-bg{
    background-color: #ffffff;
}

.semi-bg{
    background-color: rgba(255, 255, 255, 0.95);
}

.semisemi-bg{
    background-color: rgba(255, 255, 255, 0.2);
}

.footer {
    background-color:#f0f0f0;
}

.hard-top{
    background-image: url("/assets/img/hard.jpg");
}

.hard-purple-top{
    background-image: url("/assets/img/hard-purple.jpg");
}
.clay-lg-top{
    background-image: url("/assets/img/clay-lg.jpg");
    /*color:#ffffff;*/
}
.clay-top{
    background-image: url("/assets/img/clay.jpg");
    /*color:#ffffff;*/
}

.grass-top{
    background-image: url("/assets/img/grass.jpg");
    /*color:#ffffff;*/
}

.grass-bg{
    background-image: url("/assets/img/grass_faded.jpg");
}

.green-top{
    background-color: #98D9C2;
    background-color: rgba(33,160,160,1);
    background-color: #59d1ad
}

.red-top{
    background-color: rgb(217, 83, 79);
}

.blue-top{
    background-color: #1d81a3;
}

.purple-top{
    background-color: #797ed8;
}

.orange-top{
    background-color: rgba(255,84,0,1);
    background-image: url("/assets/img/clay-lg2-small.png");
    /*background-size: 100% auto;*/
}

.darkblue-top{
    background-color: #033860;
}

.white-top{
    background-color: #ffffff;
}

.light-orange-top{
    background-color: #ffb4a2;
}

.light-blue-top{
    background-color: #62bfed;
}

.light-green-top{
    background-color: #9ad2cb;
}

.light-purple-top{
    background-color: #a09ebb;
}

.gray-top{
  background-color:#efefef;
  background-color:#EFEDED;
}

.down-border{
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-color: #dadada;
    border-width: thin;
}

.up-border{
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #dadada;
    border-width: thin;
}

.my-top{
    height:11.5rem;
    z-index:-10;
    margin-bottom: -2.5rem;
    padding-top:1rem;
    /*
    margin-bottom: 2rem;
    padding: 2rem 15px;
    background-color:#f7f7f9;
    */
}

.title-bar{
  height:2.9rem;
}

.navigation-bar{
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
}

.my-top2{
    margin-bottom: -9.25rem;
    height:12rem;
    padding-top: 1.25rem;
    margin-top:-1.5rem;
    /*background-image: url("/assets/img/clay.jpg");*/
    text-align: center;
    /*
    margin-bottom: 2rem;
    padding: 2rem 15px;
    background-color:#f7f7f9;
    */
}

.my-top-placeholder{
  /*margin-bottom: 1.5rem;*/
  height: 3rem;
}

.my-bottom-placeholder{
  margin-bottom: 2.5rem;
}

.top-spacer{
  margin-top: 4rem;
}

.active-nav-item{
  /*background-color: #E3817F;
  background-color: rgba(255,255,255,0.15);
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: medium;*/
  background-color: #DF726F;
}

.down-shadow{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 4px 0 rgba(217, 83, 79, 0.5), 0 8px 8px 0 rgba(217, 83, 79, 0.25);
}

.up-shadow{
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.2), 0 -8px 8px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 -4px 4px 0 rgba(217, 83, 79, 0.5), 0 -8px 8px 0 rgba(217, 83, 79, 0.25);
}

.down-shadow-orange{
    box-shadow: 0 4px 4px 0 rgba(255,133,84,0.5), 0 8px 8px 0 rgba(255,133,84,0.25);
}

.up-shadow-orange{
    box-shadow: 0 -4px 4px 0 rgba(255,133,84,0.5), 0 -8px 8px 0 rgba(255,133,84,0.25);
    box-shadow: 0 -4px 4px 0 rgba(217, 83, 79, 0.5), 0 -8px 8px 0 rgba(217, 83, 79, 0.25);
}

.down-shadow-red{
    box-shadow: 0 4px 4px 0 rgba(214,34,70,0.5), 0 8px 8px 0 rgba(214,34,70,0.25);
}

.up-shadow-red{
    box-shadow: 0 -4px 4px 0 rgba(214,34,70,0.5), 0 -8px 8px 0 rgba(214,34,70,0.25);
}

.down-shadow-green{
    box-shadow: 0 4px 4px 0 rgba(33,160,160,0.5), 0 8px 8px 0 rgba(33,160,160,0.25);
}

.up-shadow-green{
    box-shadow: 0 -4px 4px 0 rgba(33,160,160,0.5), 0 -8px 8px 0 rgba(33,160,160,0.25);
}

.down-shadow-blue{
    box-shadow: 0 4px 4px 0 rgba(0,61,91,0.5), 0 8px 8px 0 rgba(0,61,91,0.25);
}

.up-shadow-blue{
    box-shadow: 0 -4px 4px 0 rgba(0,61,91,0.5), 0 -8px 8px 0 rgba(0,61,91,0.25);
}

.down-shadow-purple{
    box-shadow: 0 4px 4px 0 rgba(160,158,187,0.5), 0 8px 8px 0 rgba(160,158,187,0.25);
}

.up-shadow-purple{
    box-shadow: 0 -4px 4px 0 rgba(160,158,187,0.5), 0 -8px 8px 0 rgba(160,158,187,0.25);
}

.down-light-shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}
.card{
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.09);*/
}

.inline-div{
    display:inline-block;
}

.flex-div{
    display:flex;
}

.width-75{
    width: 75px;
}

.width-100{
    width: 100px;
}

.height-150{
   height: 150px;
}

.height-50{
    height: 50px;
}

.height-3r{
    height: 3rem;
}

.dark-gray-bg{
    background-color:#61707d;
}
