/* You can add global styles to this file, and also import other style files */
/*
*/
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";

@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/nouislider/distribute/nouislider.css";

html {
  height: 100%;
}

body {
  height: 101%;
  background-color:#f5f5f5;
  /*background-color:#f7f7f9;
  background-image: url("/assets/img/clay.jpg");*/
}

.container {
    max-width: 60rem;
}

.main-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

.content{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.white-bg{
    background-color: #ffffff;
}

.semi-bg{
    background-color: rgba(255, 255, 255, 0.9);
}

.footer {
}

.content{

}

.hard-top{
    background-image: url("/assets/img/hard.jpg");
}

.hard-purple-top{
    background-image: url("/assets/img/hard-purple.jpg");
}
.clay-lg-top{
    background-image: url("/assets/img/clay-lg.jpg");
    /*color:#ffffff;*/
}
.clay-top{
    background-image: url("/assets/img/clay.jpg");
    /*color:#ffffff;*/
}

.grass-top{
    background-image: url("/assets/img/grass.jpg");
    /*color:#ffffff;*/
}

.grass-bg{
    background-image: url("/assets/img/grass_faded.jpg");
}

.my-top{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    /*background-image: url("/assets/img/clay.jpg");*/
    text-align: center;
    /*
    margin-bottom: 2rem;
    padding: 2rem 15px;
    background-color:#f7f7f9;
    */
}
