<footer class="navbar">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item ">
        <a class="nav-link text-muted" [routerLink]="['/tutorials']">Tutorials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
    <p class="small text-muted text-center">
      ©&nbsp;&nbsp;2016&nbsp;-&nbsp;2017&nbsp;&nbsp;tennishots.com
    </p>
  </div>
</footer>
