<h1>Filter Shots and Compare them</h1>

<div class="container">
<button *ngIf="!showFilter" type="button" class="btn btn-secondary btn-sm btn-block" (click)="showFilter=!showFilter">Show Selection Filters</button>
<br>
<ngb-tabset *ngIf="showFilter"  (tabChange)="beforeTabChange($event)" justify="center">
  <ngb-tab  id="tab1">
    <template ngbTabTitle>
      <select (click)="onUserSelectClick(1)" class="form-control form-control-sm" id="userpicker" [(ngModel)]="filter1.username">
        <option *ngFor="let user of users" [value]="user.value">{{user.label}}</option>
      </select>
    </template>
    <template ngbTabContent>
      <sony-filter [filter]="filter1" [listOfPeriods]="listOfPeriods1"></sony-filter>
    </template>
  </ngb-tab>
  <ngb-tab *ngIf="compare" id="tab2">
    <template ngbTabTitle>
      <select (click)="onUserSelectClick(2)" class="form-control form-control-sm" id="userpicker" [(ngModel)]="filter2.username">
        <option *ngFor="let user of users" [value]="user.value">{{user.label}}</option>
      </select>
    </template>
    <template ngbTabContent>
        <sony-filter [filter]="filter2" [listOfPeriods]="listOfPeriods2"></sony-filter>
    </template>
  </ngb-tab>
  <ngb-tab id="tabS" >
    <template ngbTabTitle><button type="button" class="btn btn-primary btn-sm" [class.btn-danger]="compare" (click)="handleCompareChange()"><i class="fa" [class.fa-plus]="!compare" [class.fa-minus]="compare" aria-hidden="true"></i></button></template>
  </ngb-tab>
</ngb-tabset>

<p>
  {{filter1|json}}
</p>
<p>
  {{filter2|json}}
</p>
</div>
