<h1>Filter Shots and Compare them</h1>

<p-tabView>
    <p-tabPanel header="Selection 1">
       <sony-filter [filter]="filter1"></sony-filter>
       <p-toggleButton [(ngModel)]="compare" (onChange)="handleCompareChange($event)" onLabel="Disable Comparison" offLabel="Enable Comparison" onIcon="" offIcon=""></p-toggleButton>
    </p-tabPanel>
    <p-tabPanel header="Selection 2" [disabled]="!compare">
        <sony-filter [filter]="filter2"></sony-filter>
    </p-tabPanel>
</p-tabView>
<p>
  {{filter1|json}}
</p>
<p>
  {{filter2|json}}
</p>
<p>
  {{_filter2|json}}
</p>
