<!--
old green
style="background-color:#a9ddd6;"
-->

<div class="text-center my-top3 red-top dim-white">
  <div class="container">
    <h1><img class="img-fluid" src="{{tennishotsLogoUrl}}" style="height:150px;" alt="tennishots.com"></h1>
    <p class="lead">
      a complete solution to finally make sense of all the data recorded with your tennis sensor! *
    </p>
    <p>
      <a href="#promo_video"><h3>See what you can do</h3></a>
    </p>
    <p class="text-muted-inverse">
      * Only the Sony Smart Tennis Sensor is supported, more to come soon.
    </p>
  </div>
</div>

<div class="white-bg content2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Easily group your shots</h3>
        <p class="lead">
            As soon as you import your data, tennistat will break down your shots into a wide range of time intervals.
        </p>
        <p class="lead">
            Detailed statistics for each period will be one click away from you thanks to tennistat's bueautiful interface.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Visualize trends</h3>
        <p class="lead">
            Wanna see how your forehand is progressing on a day-by-day basis? Or maybe how much spin your backhand has gained over the past year? Whether you want to keep track of short-term or long-term trends tennistat has got you covered.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <div class="my-top3 container">
    <h1>Smart and social</h1>
    <p class="lead">
      Compete with yourself and your friends
    </p>
  </div>
</div>
<div class=" white-bg content2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Friends</h3>
        <p class="lead">
          Everything is more fun with friends! You will have access to the activity summary of your friends that are using Tennistat. And if you like some friendly competition, you'll love to be able to see each other statistics side by side and determine who smashes that ball harder!
        </p>
      </div>
      <div class="col-md-6">
        <h3>Tag and compare</h3>
        <p class="lead">
          We have a powerful <i>tag</i> system in place that will allow you to filter your sessions based on any criteria you choose. For example, if you wanna compare your match performance to your practice sessions, you will be able to do so in just a matter of seconds.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <div class="my-top3 container">
    <h1>Outstanding video capabilities</h1>
    <p class="lead">
      All your tennis videos have a new smart home *
    </p>
    <p class="text-muted">
      * Additional charges might apply.
    </p>
  </div>
</div>
<div class="content2 text-center white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Upload your videos</h3>
        <p class="lead">
          You can upload any video you have recorded through the sensor app.
        </p>
        <p class="lead">
          Using your shots database tennistat will automatically generate a video of your play session stripped down of all the dead moments.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Make your own highlights</h3>
        <p class="lead">
          Tennistat gives you the ability to filter through all your shots in just a few clicks.
        </p>
        <p class="lead">
          You can then generate custom video clips with all your best shots and add it to your library.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <div class="my-top3 container">
    <h1>What are you waiting for?</h1>
    <p></p>
    <p>
      <a [routerLink]="['register']" class="btn btn-lg btn-secondary btn-block"><strong>Join Now</strong></a>
    </p>
  </div>
</div>


<div class="content2 text-center white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="promo_video"class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/kFFnzuufIF0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
