.my-top3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dim-white{
color:#fff;}

.red-top a {
color:#efefef;}
.red-top a:hover {
color:#ebebeb;}

.text-muted-inverse{
  color:#ddd;
}

.mobile-header ul li a {
color:#fff;}
.mobile-header ul li a:hover {
color:#efefef;}
